.home-top-info {
  margin-top: 10rem;
}

.merch-top-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1440px) {
  .merch-top-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(./assets/merch-background.png);
    background-position: right top;
    background-repeat: no-repeat;
    padding: 8rem 3rem;
  }
}
